.app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
}

.flex-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flex-item {
  width: 300px;
  margin: 15px;
}
